* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body , button {
    /* color: firebrick; */
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    /* background-color: lightblue; */
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}
.logo-container, .nav-links , .cart {
    display: flex;
}
.logo {
    font-weight: 400;
    margin: 5px;
}
.logo-container {
    /* background-color: lightcoral; */
    flex: 1;
}

nav {
    /* background-color: lightslategray; */
    flex: 2;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.cart {
    /* background-color: mediumblue; */
    flex: 1;
    justify-content: flex-end;
}
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.presentation {
    display: flex;
    margin: auto;
    width: 90%;
    min-height: 80vh;
    align-items: center;

}
.introduction {
    flex: 1;

}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}
.cta {
    padding: 50px 0px 0px 0px;
}
.cta-select , .cta-add {
    border: 2px solid #c36cbb;
    background: transparent;
    cursor: pointer;
    width: 150px;
    height: 50px;
    color: #c36cbb;
    font-size: 16px;
}
.cta-add {
    margin: 30px 0px 0px 30px;
}
.cover {
    flex: 1;
    

}
.cover img {
    height: 60vh;
    filter: drop-shadow(0px 10px 2px black);
    animation: drop 5s ease;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.6;
    height: 80%;
}

.medium-circle {
    position: absolute;
    height: 60%;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    z-index: -1;
    bottom: 0%;
    left: 20%;
}
.laptop-select {
    display: flex;
    width: 15%;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media screen and (max-width:1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5%;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px 0px;
    }
    .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 50%);
    }
     /* .cover img {
        height: 50%;
    }  */
}